.lentop {display:none; bottom: 80%; right: 10px; cursor: pointer;  position: fixed; z-index: 1000;}
.lentop div {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	border-radius:45px;
	padding:11px 12.5px;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}
.lentop img {width:24px; height:24px; padding-bottom: 3px;}
body
{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 20000% 20000%;
	animation: gradient 40s ease infinite;
	height: 100vh;
}
nav
{
	color: #fff;
	display: flex;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 7vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a.nav-link, a.nav-link:hover
{
    color:white
}

.l
{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 15px;
  border-radius: 15px 15px;
  border-radius: 15px 15px 15px;
  border-radius: 15px 15px 15px;
}
.l:hover
{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  font-size: larger;
}
.r
{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 15px;
  border-radius: 15px 15px;
  border-radius: 15px 15px 15px;
  border-radius: 15px 15px 15px;
}
.r1
{
	position:absolute;
    right: 100px;
}
.r:hover
{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  font-size: large;

}

div.r
{
    position:absolute;
    left: 100px;
}
div.r2
{
	position:absolute;
    right: 50px;
}
div.l
{
    position:absolute;
    left: 30px;
}




/* Non essential CSS - Just for example centering */
	
	
	/* Essential CSS - Makes the effect work */
	
	.bubbles {
	display: inline-block;
	font-family: arial;
	position: absolute;
	}
	
	.bubbles h1.h a{
	position: relative;
	margin: 90%;
	font-family: 'Luckiest Guy', cursive;
	color: #fff;
	z-index: 2;
	
	}
	.bubbles
	{
		position: absolute;
		right: 56%;
	}
	.bubbles h1.h a:hover
	{
		text-decoration: none;
	}
	.individual-bubble {
	position: absolute;
	border-radius: 100%;
	bottom: 10px;
	background-color: #fff;
	margin-left: 92%;
	}
	.carosel
	{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.fontCon
	{
		text-align: center;
		color: white;
	}
	

	/*conversion.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

	.conv {
		padding: 15px 0px;
		display: flex;
		align-items: center;
		margin-left: 0%;
	  }
	  
	  .conv select {
		padding: 10px 20px 10px 10px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: 2px solid black;
		font-size: 16px;
		background: transparent;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
		background-position: right 10px top 50%, 0, 0;
		background-size: 12px auto, 100%;
		background-repeat: no-repeat;
		color: black;
		font-weight: bold;
	  }
	  
	  .conv input {
		border: 0;
		background:powderblue;
		font-size: 30px;
		text-align: right;
		color:black;
	  }
	  
	  .swap-rate-container {
		display: flex;
		align-items: center;
		width: 360px;
		margin-left: 35%;
	  }
	  
	  .rate {
		color: var(--primary-color);
		font-size: 14px;
		padding: 0 10px;
		margin-right: 25%;
		width: 200%;
	  }
	  
	  @media (maz-width: 600px) {
		.conv input {
		  width: 200px;
		}
	  }
	
	.conv__length{
	  margin-left: 13%;
	}
	
	.conv__power{
	  margin-left: 0%;
	}
	
	.conv__time{
	  margin-left: 20%;
	}

	button.btn {
		background-color:white;
		border-radius: 15px;
		border: none;
		color: black;
		padding: 5px 10px;
		text-align: center;
		font:bold 20px "Roboto", sans-serif;
		margin: 4px;
		transition: 0.3s;
		cursor: pointer;
	  }
	  .btn:hover {
		background-color: white;
		color: black;
		border-radius: 50%;
	  }

	  
	  
	
