<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/png" href="img/conversion.png"/>
    <title>Conversion</title>
    <link rel="stylesheet" href="CSS/eProjectTest.css">
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/length.css">
    <link rel="stylesheet" href="CSS/listcvs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>
<body ng-app="myApp">

  <nav class="navbar navbar-expand-sm ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="l">
        <a class="nav-link" href="faq.html">FAQ</a>
        </div>
      </li>
      <li>
        <div class="bubbles">
        <h1 class="h"><a href="index.html">Conversion</a></h1>
        </div>
      </li>
      <li class="nav-item">
        <div class="r2">
          <div class="dropdown">
            <button onclick="hamDropdown()" class="nut_dropdown">List conversion <i style="font-size:24px" class="fa">&#xf0dd;</i></button>
            <div class="noidung_dropdown">
              <a href="length.html">Length</a>
              <a href="area.html">Area</a>
              <a href="volume.html">Volume</a>
              <a href="mass.html">Mass</a>
              <a href="temperature.html">Temperature</a>
              <a href="currency.html">Currency</a>
            </div>
          </div> 
        </div>
      </li>
      <li class="nav-item">
        <div class="r1">
          <button class="r1" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        </div>
      </li>
        <li class="nav-item">
          <div class="r">
          <a class="nav-link" href="contact.html">CONTACT US</a>
          </div>
        </li>
      </ul>
</nav>
    <br> <br><br> <br> <br>


<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img/conversion.jpg" alt="Avatar" class="avatar" width="200px" height="200px">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<br> <br>
<div class="cvstb"> 
<div>
  select:<select ng-model="mySelect" class="fl4">
   <option value="q1">Ounces</option>
   <option value="q2">Pounds</option>
   <option value="q3">Short tons (2000 lb)</option>
 </select>
 <div ng-switch="mySelect">
 <div ng-switch-when="q1">
  <p class="fl1">
      <label>oz:</label>
      <input id="inputFeet" type="number" placeholder="Ounces" oninput="LengthConverterO(this.value)" onchange="LengthConverter(this.value)">
    </p>
    <div class="fl2">
       select:&nbsp;&nbsp;<select ng-model="mySelect" class="fl4">
        <option value="q1">Grams</option>
      </select>
      <div ng-switch="mySelect" class="fl3">
      <div ng-switch-when="q1"><p>g: <input type="number" id="outputg" disabled></p></div>
      </div>
    </div>
    <div hidden>
     <p>g: <span id="outputg"></span></p>
    </div>
 </p></div>
 <div ng-switch-when="q2"><p>
    
  <p class="fl1">
    <label>lb:</label>
    <input id="inputFeet" type="number" placeholder="Pounds" oninput="LengthConverterP(this.value)" onchange="LengthConverter(this.value)">
  </p>
  <div class="fl2a1">
    &nbsp;&nbsp;select:<select ng-model="mySelect" class="fl4">
      <option value="q2">Kilograms</option>
    </select>
    <div ng-switch="mySelect" class="fl3">
    <div ng-switch-when="q2"><p>Kg: <input  type="number" id="outputkg" disabled></p></div>
    </div>
  </div>
  <div hidden>
    <p>Kg: <span id="outputkg"></span></p>
  </div>

 

 </p></div>
 <div ng-switch-when="q3"><p>
  <p class="fl1">
    <label>T:</label>
    <input id="inputFeet" type="number" placeholder="short tons (2000 lb)" oninput="LengthConverterSt(this.value)" onchange="LengthConverter(this.value)">
  </p>
  <div class="fl2a1">
    &nbsp;&nbsp;select:<select ng-model="mySelect" class="fl4">
      <option value="q3">mega grams (or "metric ton")</option>
    </select>
    <div ng-switch="mySelect" class="fl3">
    <div ng-switch-when="q3"><p>Mg: <input type="number" id="outputMg" disabled></p></div>
    </div>
  </div>
  <div hidden>
    <p>Meter: <span id="outputMg"></span></p>
  </div>
  

 </p></div>
 
</div>
</div>

  
    <div class='lentop'>
      <div>
      <img src='img/top.png'/>
      </div>
      </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.js"></script>

        <script>
          var app = angular.module("myApp", ['ngAnimate']);
      </script>
        
                <script src="JS/up.js"></script>
                <script src="JS/label.js"></script>
                <script src="JS/lognin.js"></script>
                <script src="JS/dropdown.js"></script>
                <script src="JS/mass.js"></script>
</body>
</html>
